body{
  background-color: azure;
  color:darkslategrey;
}

header{
  background-color: darkcyan;
  height:50px;
}

header .title {
  display: flex;
	justify-content: center;
	align-items: center;
  color: white;
  padding-top:10px;
}

.page_title{
  display: flex;
	justify-content: center;
}

.notice p{
  display: flex;
	justify-content: center;
}

.post_content{
  display: flex;
	justify-content: center;
}

.new_post{
  text-align: center;
}

.new_post a{
  text-decoration: none;
  color:white;
  background-color:#b33b65;
  padding:10px;
  border-radius: 50px;
}

.new_post{
  margin-bottom:15px;
}

.btn_show a{
  text-decoration: none;
  color:white;
  font-size:10px;
  background-color: steelblue;
  padding:5px;
  border-radius: 5px;
}

.btn_edit a{
  text-decoration: none;
  color:white;
  font-size:10px;
  background-color: teal;
  padding:5px;
  border-radius: 5px;
}

.btn_delete a{
  text-decoration: none;
  color:white;
  font-size:10px;
  background-color: midnightblue;
  padding:5px;
  border-radius: 5px;
}

footer{
  background-color:grey;
  height:20px;
}

footer .copy {
  display: flex;
	justify-content: center;
	align-items: center;
  color: white;
  font-size: 10px;
}
